@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background: #f7f7f7;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.uk-comment-meta li {
    margin-left: -10px;
}

/*Navbar*/

.uk-navbar {
    background-color: #444;
    padding: 5px;
}

.uk-navbar-nav li a:hover {
    background: none;
    color: #B50C3C;

}

.uk-navbar-nav li a {
    color: #F9FBFC;
    font-size: 1.1rem;
    font-weight: bold;

}

.uk-navbar-brand {
    color: #F9FBFC;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.uk-navbar-brand:hover {
    color: #B50C3C;
}

.navDropdown {
    background-color: #444;
}

.uk-open {
    background-color: #444;
}
.search {
    color: #F9FBFC;
}

.search:hover {
    color: #B50C3C;
}

/*tvShow header */
header.head {
    position: relative;
    background-size: cover;
    transform: translateX(-15vw);
    width: 120vw;
    height: 30vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-bottom: 100px;
}

header.head figure {
    bottom: -100px;
    left: calc(50% - 50px);
    width: 250px;
    height: 250px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 10px 50px -20px;
    z-index: 10;
    border: 2px solid #F8F8F8;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0)
    }
}

/*tvShow main */

@media only screen and (min-width: 790px) {
    .title {
        padding-top: 50px;
        font-size: 6.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 790px) {
    .title {
        padding-top: 50px;
        font-size: 5rem;
        text-align: center;
    }
}

.subtitle {
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.uk-article.summary {
    margin-top: 20px;
    font-size: 1.2rem;
}

/*tvShow details*/
.details {
    font-size: 1.5rem;
    margin-top: 26px;
    text-align: center;
}

.details .info {
    line-height: 1.2;
    font-size: 1.3rem;
    margin-top: -20px;
}

/*.ratebox {*/
/*margin-bottom: 20px;*/
/*}*/

.overall-rating {
    font-size: 3.5rem;
    text-align: center;
}

.rating small {
    font-size: 2rem;
}

.rate {
    cursor: pointer;
}

.center-rating {
    height: 10em;
    position: relative
}

.rating {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.userPicture {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
    margin-right: 10px;
}

.userPictureRate {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto
}

.userRating {
    margin-top: 20px;
}

.rateValue {
    font-size: 2.2rem;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 3rem;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/*tvShow episodes */

.episodes {
    margin-top: 30px;
    font-size: 1.2rem;
}

li.menu a {
    background-color: inherit;
}

li.menu.uk-active a {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #00a8e6;
}

.episode-date {
    margin-right: 0.2rem;
    font-size: 1rem;
    float: right;
}

.uk-list li {
    padding: 2px;
}

.uk-column {
    width: 1px;
}

/*tvShow gallery */
.gallery {
    text-align: center;
    margin-top: 30px;
}

.gallery a img {
    margin-bottom: 10px;
}

img.center {
    display: block;
    margin-left: 50px;
    margin-top: -25px;
    height: 200px;
    width: 200px;
}

.center-user-shows {
    height: 140px;
    line-height: 140px;
    text-align: center;

}

.center-user-info {
    height: 160px;
    line-height: 160px;
    text-align: center;

}

.number {
    padding: 50px;
    border: solid black 1px;
    border-radius: 50%;
}

/*fontawesome*/
.fa-heart {
    font-size: 3rem;
    color: #B50C3C;
    transform: translateY(-20%);
}

.fa-heart-o {
    color: #999;
    font-size: 3rem;
    transform: translateY(-20%)
}

a.watched-this i.fa-check-square-o {
    color: #8cc14c;
    float: right;
    font-size: 1.4rem;
    margin-left: 5px;
}

a.watched-season i.fa-check-square-o {
    color: #8cc14c;
    font-size: 1.4rem;
    margin-left: 5px;
}

a.watched-this i.fa-square-o {
    margin-right: 3px;
    margin-left: 5px;
    float: right;
    font-size: 1.4rem;
    color: #999;
}

a.watched-season i.fa-square-o {
    margin-left: 5px;
    color: #999;
    font-size: 1.4rem;
}

a.watched-this i.fa-square-o:hover {
    color: #8cc14c;
}

a.watched-season i.fa-square-o:hover {
    color: #8cc14c;
}
/*genreList*/

.item {
    display: inline-block;
    background-color: black;
    width: 210px;
    height: 280px;
    background-size: cover;
    margin: 5px;

}

.item-smaller {
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 150px;
    background-size: cover;
    margin: 5px;
    box-shadow: 3px 3px 6px #999;

}

.item-wide {
    display: inline-block;
    background-color: black;
    width: 500px;
    height: 90px;
    background-size: cover;
    box-shadow: 3px 3px 6px #999;
    margin: 5px 5px 5px 25px;

}

.item-search {
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 120px;
    background-size: cover;
    margin-top: 5px;

}

.overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 46%, rgba(213, 213, 213, 0) 55%, #000000 100%);

}

.overlay .item-header {
    font-size: larger;
    color: #F9FBFC;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    padding: 10px;
}

.genreList a:hover {
    text-decoration: none;
}

/*Login styling*/
input[type="submit"] {
    color: #fff;
}

div.login {
    padding: 20px;
    color: #F9FBFC;
    background: #444;
    box-shadow: 1px 10px 50px -20px;
}

.login h1 {
    color: #F9FBFC;
}

.review {
    padding: 0 0 1em 0;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1rem;
}

.review-title {
    font-size: 5rem;
    line-height: 120%;
}

.welcome {
    position: relative;
    font-size: 6rem;
    top: 10%;
    line-height: 75px;
}

.crimson {
    color: #B50C3C;
}

.top-10 {
    position: relative;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#wrapper {
    min-height: 100%;
}

.uk-comment-avatar {
    margin-top: 10px;
}